* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

label {
  display: block;
}

input:focus {
  outline: none;
}

body {
  display: flex;
  width: 1728px;
  height: 1117px;
  padding: 50px 1278px 717px 50px;
  align-items: center;
}

.login {
  border-radius: 32px;
  border: 1px solid #ccc;
  background: #fff;

  display: flex;
  width: 400px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

h2 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 32px;
  font-weight: 600;
}

h3 {
  color: #000;
  font-family: "Plus Jakarta Sans";
  font-size: 24px;
  font-weight: 500;
}

.login-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.login-label {
  color: #555;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 400;
}

.login-input {
  border-radius: 4px;
  border: 1px solid #ccc;

  display: flex;
  width: 336px;
  height: 40px;
  padding-left: 12px;
  justify-content: flex-end;
  align-items: center;

  transition: 0.3s 0.2s;
}

.login-submit {
  border-radius: 4px;
  background: #1576ea;
  display: flex;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: #fff;
  text-align: center;
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  border: none;

  transition: 0.3s 0.2s;
}

.login-input:focus {
  border-radius: 4px;
  border: 1px solid #000;
  background: #eee;
}

.login-submit:hover {
  border-radius: 4px;
  background: #0b0b0b;
}
